<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>

    <header class="header">
        <h2>HOME PAGE</h2>
    </header>

    <div>
        <a href="http://localhost:3090/registration">REGISTER</a>
        <p>OR</p>
        <a href="http://localhost:3090/login">LOGIN</a>

    </div>
</body>
</html>